* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg, #000a61, #0166be);
    padding: 2rem 0;
}

main {
    margin: 0 20px;
}

#container {
    max-width: 800px;
    min-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #53e7f2, #3d8dfd);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem 2rem;
}

#container > h1 {
    width: 100%;
    text-align: center;
    padding: 5px 0 10px;
    font-size: 45px;
}

button, 
#new-item-input {
    background-color: rgba(255, 255, 255, 0.189);
    backdrop-filter: blur(15px);
    color: #fff;
    font-size: 35px;
    padding: 7px 14px;
    margin: 5px;
    border-radius: 35px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.201);
}

button:hover {
    cursor: pointer;
}

#item-input {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

#new-item-input {
    display: flex;
    flex: 10;
    width: 100%;
    min-width: 200px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

#new-item-input::placeholder {
    color: rgba(255, 255, 255, 0.616);
}

#add-item-btn {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 200px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

#new-item-input:hover,
#add-item-btn:hover {
    border: solid 2px;
}

#list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.to-do-item {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    margin: 3px;
    max-width: 100%;
}

.to-do-item > div,
.item-btn,
.delete-btn {
    margin: 5px;
    display: flex;
    align-items: center;
}

.item-btn,
.delete-btn {
    border: 2px solid transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.201);
    justify-content: center;
    transition: transform 0.3s ease, border 0.3s ease;
}

.item-btn:hover,
.delete-btn:hover {
    transform: scale(1.1);
    border: solid 2px;
}

.item-btn {
    font-size: 25px;
}

.delete-btn {
    font-size: 50px;
    border: none;
}

.to-do-item > div {
    font-size: 25px;
    font-weight: bold;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
}

.selected {
    color: #fff;
    background-color: rgb(44, 121, 255);
}

.cross-out {
    text-decoration: line-through;
    color: rgb(108, 108, 108);
}